
<div class="row">
    <div class="col-8">
      <h6 class="header-pretitle">index</h6>
      <h1 class="header-title">Products</h1>
    </div>
    <div class="col-4 text-right">
      <a class="btn btn-primary" href="/retailer/products/new"> <i class="bi-plus-square"></i> Add Article</a>
    </div>
  </div>
<div class="card">
  <div class="card-body">
    <div id="articles">
      <% @articles.each do |article| %>
        <%= render article %>
        <p>
          <%= link_to "Show this article", [:admin, article] %>
        </p>
      <% end %>
    </div>

    <%= link_to "New article", new_admin_article_path %>
  </div>
</div>
