.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer !important;
}
.cursor-none {
  cursor: none !important;
}
.text-right{
  text-align: right;
}
.form-actions{
  margin-top: 1em;
}
.form-check-input[type="checkbox"]{
  padding: 0;
}
.actions{
  text-align: right;
}
