@import  'admin/actiontext.scss';

 @import 'admin/customized_bootstrap.scss';


@import 'bootstrap-icons/font/bootstrap-icons';
@import 'bootstrap/scss/bootstrap';
@import 'admin/file_field';

#media-finder{
  overflow-y: scroll;
  height: 500px;
}
.media-picker-item{
  border: 1px solid #eee;
  margin-top: 1em;
  cursor: pointer;
  img{
    border: none;
    width: 100% ;
  }
  .details{
    padding: 1em;
    h2{
      font-size: 1.1em;
      font-weight: normal;
    }
    .meta{
      color: #ccc;
      font-size: 10px;
      overflow-x: auto;
    }
  }

}
.trix-button-ss{
  background-color: white;
  border: 1px solid #bbb;
  border-top-color: #ccc;
  border-bottom-color: #888;
  border-radius: 3px;
  border-bottom: 1px solid #888 !important;
}
.dialog-results{
  padding: 2em 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}
.link-finder{
  input[type="text"]{
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 1em;
    width: 100%;
  }
}

.list-group-item{

  margin-top: 5px;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid #ccc !important;
}
