<nav class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-4 text-white min-vh-100">
    <div class="dropdown mb-1">
      <a href="/" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle mb-1" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">

         <i class="bi-gem"></i>
        <span class="d-none d-sm-inline mx-1 fw-700 ms-2 text-white">Tractor admin</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="/">Back to app</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <!-- <li><a class="dropdown-item" href="#">Connect as...</a></li> -->
      </ul>
    </div>
    <hr class="w-100" style="height:2px; color:grey;">
    <ul class="ms-1 mt-1 nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a href="/admin" class="nav-link align-middle px-0">
          <i class="bi-house-fill"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Home</span>
        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="/admin/articles" class="nav-link align-middle px-0">
            <i class="bi-cart-fill"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Articles</span>
        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="/admin/users" class="nav-link align-middle px-0">

            <i class="bi-people-fill"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Users</span>
        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="#" class="nav-link align-middle px-0">

            <i class="bi-shield-fill-check"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Roles</span>
        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="#" class="nav-link align-middle px-0">

<i class="bi-file-richtext-fill"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">C.M.S</span>

        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="#" class="nav-link align-middle px-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity me-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" /> </svg>
          <span class="ms-2 fw-600 d-none d-sm-inline">Activity</span>
        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="/admin/settings" class="nav-link align-middle px-0">
          <i class="bi-wrench"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Settings</span>
        </a>
      </li>
    </ul>
    <hr class="w-100" style="height:2px; color:grey;">
    <div class="dropdown mb-1">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi-person-circle"></i>
        <span class="ms-2 fw-600 d-none d-sm-inline mx-1">Jane Doe</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="/admin">New project...</a></li>
        <li><a class="dropdown-item" href="/admin/settings">Settings</a></li>
        <li><a class="dropdown-item" href="/profile">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/">Sign out</a></li>
      </ul>
    </div>
    <a href="#" class="nav-link align-middle px-0 mb-1">
        <i class="bi-credit-card"></i>
      <span class="ms-2 fw-600 d-none d-sm-inline">Usage</span>
    </a>
    <a href="#" class="nav-link align-middle px-0 pt-0 pb-4">

        <i class="bi-question-circle"></i>
      <span class="ms-2 fw-600 d-none d-sm-inline">Help</span>
    </a>
  </div>
</nav>
