<nav class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-4 text-white min-vh-100">
    <div class="dropdown mb-1">
      <a href="/" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle mb-1" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">

         <i class="bi-gem"></i>
        <span class="d-none d-sm-inline mx-1 fw-700 ms-2 text-white">StarShip CMS</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="/">Back to app</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <!-- <li><a class="dropdown-item" href="#">Connect as...</a></li> -->
      </ul>
    </div>
    <hr class="w-100" style="height:2px; color:grey;">
    <ul class="ms-1 mt-1 nav nav-pills flex-column  mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a href="/admin/" class="nav-link align-middle px-0">
          <i class="bi-bar-chart"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Dash</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/homepage" class="nav-link align-middle px-0">
          <i class="bi-house-fill"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">HomePage</span>
        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="/admin/medias" class="nav-link align-middle px-0">
            <i class="bi-file-earmark-image"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Media</span>
        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="/admin/pages" class="nav-link align-middle px-0">
            <i class="bi-list-nested"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Pages</span>
        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="/admin/menus" class="nav-link align-middle px-0">
            <i class="bi-menu-app"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Menus</span>
        </a>
      </li>
      <li class="nav-item mt-1">
        <a href="/admin/userforms" class="nav-link align-middle px-0">
            <i class="bi-cup-fill"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Forms</span>
        </a>
      </li>
    </ul>
    <hr class="w-100" style="height:2px; color:grey;">
    <ul class="ms-1 mt-1 nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item mt-1">
        <a href="/admin/articles" class="nav-link align-middle px-0">
            <i class="bi-cart-fill"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">Articles</span>
        </a>
      </li>

      <li class="nav-item mt-1">
        <a href="#" class="nav-link align-middle px-0">
          <i class="bi-file-richtext-fill"></i>
          <span class="ms-2 fw-600 d-none d-sm-inline">C.M.S</span>
        </a>
      </li>

    </ul>
    <hr class="w-100" style="height:2px; color:grey;">
    <div class="dropdown mb-1">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi-person-circle"></i>
        <span class="ms-2 fw-600 d-none d-sm-inline mx-1">Jane Doe</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="/admin">New project...</a></li>
        <li><a class="dropdown-item" href="/admin/settings">Settings</a></li>
        <li><a class="dropdown-item" href="/profile">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/">Sign out</a></li>
      </ul>
    </div>

      <a href="/admin/users" class="nav-link align-middle px-0">
          <i class="bi-people-fill"></i>
        <span class="ms-2 fw-600 d-none d-sm-inline">Users</span>
      </a>

      <!-- <a href="#" class="nav-link align-middle px-0">
          <i class="bi-shield-fill-check"></i>
        <span class="ms-2 fw-600 d-none d-sm-inline">Roles</span>
      </a> -->



      <a href="/admin/activity" class="nav-link align-middle px-0">
          <i class='bi-activity'></i>
        <span class="ms-2 fw-600 d-none d-sm-inline">Activity</span>
      </a>


      <a href="/admin/settings" class="nav-link align-middle px-0">
        <i class="bi-wrench"></i>
        <span class="ms-2 fw-600 d-none d-sm-inline">Settings</span>
      </a>


    <a href="#" class="nav-link align-middle px-0 pt-0 pb-4">

        <i class="bi-question-circle"></i>
      <span class="ms-2 fw-600 d-none d-sm-inline">Help</span>
    </a>
  </div>
</nav>
